.reset-password-modal {
  width: 340px;
  margin: auto;
  height: 100%;
}

.label-email {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

.input-email {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.reset-password-form {
  margin-bottom: 1rem;
}

.button-reset { 
  background-color: rgb(0, 201, 50);
  border: 1px solid rgb(0, 201, 50);
  width: 100%;
}

.button-reset:hover {
  background-color: rgb(0, 190, 50);
  border: 1px solid rgb(0, 190, 50);
}
