.loading-spinner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.spinner {
  border: 3px solid;
  border-color: rgb(0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0.3);
  animation: spin 2s linear infinite;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  opacity: 0.2;
}

.loading-text {
  display: block;
  margin-top: 5px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
